<h1>Sign in</h1>
<%= form_with url: session_path do |form| %>
  <%= form.hidden_field :previous_url, value: params[:previous_url] %>
  <div>
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <div>
    <%= form.label :remember_me %>
    <%= form.check_box :remember_me, { checked: true } %>
  </div>

  <%= form.submit "Login" %>
<% end %>

<%= link_to "Sign up instead", new_user_path %>

<% page_title "Login" %>
