<div class="artist-link">
  <%= site_icon artist_url %>
  <%= link_to artist_url.url_identifier, artist_path(artist_url.artist, search: { artist_url_id: [artist_url.id] }), class: "site-icon-text" %>
  <%= link_to "[U]", enqueue_artist_url_path(artist_url), method: :post %>
  <% if artist_url.id.in? SidekiqStats.scraping_now %>
    [Scraping now!]
  <% end %>
  <% if SidekiqStats.scraping_queued[artist_url.id] %>
    [Scraping queued]
  <% end %>
  <% if SidekiqStats.submission_download_queued[artist_url.id] %>
    [<%= SidekiqStats.submission_download_queued[artist_url.id] %> pending
      <%= artist_url.site_type == "tumblr" ? "reblogs" : "file downloads" %>]
  <% end %>
  <% if SidekiqStats.e6_iqdb_queued[artist_url.id] %>
    [<%= SidekiqStats.e6_iqdb_queued[artist_url.id] %> pending e6 iqdb calls]
  <% end %>
</div>
