<%= render "secondary_links" %>

  <%= hideable_search(artists_path) do |f| %>
    <%= f.input :name %>
    <%= f.input :url_identifier %>
    <%= f.submit "Search" %>
  <% end %>

<table class="table full-width">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>URLs</th>
      <th>Submissions</th>
      <th>Files</th>
    </tr>
  </thead>
  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td><%= link_to artist.id, artist_path(artist) %></td>
        <td><%= artist.name %></td>
        <td><%= artist.artist_urls.count %></td>
        <td><%= artist.submissions.count %></td>
        <td><%= artist.submission_files.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginated @artists %>

<% page_title "Artists" %>
