<%= render "secondary_links" %>

<table>
  <thead>
    <tr>
      <td>ID</td>
      <td>Name</td>
      <td>URLs</td>
      <td>Submissions</td>
      <td>Files</td>
    </tr>
  </thead>
  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td><%= link_to artist.id, artist_path(artist) %></td>
        <td><%= artist.name %></td>
        <td><%= artist.artist_urls.count %></td>
        <td><%= artist.submissions.count %></td>
        <td><%= artist.submission_files.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @artists %>

<% page_title "Artists" %>
