<%= render "secondary_links" %>

Name: <%= @artist.name %>
<br>

Links:
<div class="url-list">
  <% @artist.artist_urls.each do |artist_url| %>
    <%= render "artist_link", artist_url: artist_url %>
  <% end %>
</div>

<div class="search">
  <%= render "submission_files/search", path: artist_url(@artist), artist_urls: active_artist_urls_collection(@artist) %>
</div>

<% @submission_files.each do |file| %>
  <%= render "submission_files/sample", submission_file: file %>
<% end %>
<%= paginated @submission_files %>

<% page_title "#{@artist.name}" %>
