<%= render "secondary_links" %>

Name: <%= @artist.name %>
<br>

Links:
<div class="url-list">
  <% @artist.artist_urls.each do |url| %>
    <%= render "artist_link", url: url %>
  <% end %>
</div>

<div class="search">
  <%= hideable_search(artist_url(@artist)) do |f| %>
    <%= f.input :artist_urls, label: "URLs", collection: active_artist_urls_collection(@artist), input_html: { multiple: true } %>
    <%= f.input :upload_status, label: "Status", collection: [
      ["Larger Only (Filesize)", "larger_only_filesize"],
      ["Larger Only (Dimensions)", "larger_only_dimensions"],
      ["Larger Only (Both)", "larger_only_both"],
      ["Already Uploaded", "already_uploaded"],
      ["Exact Match", "exact_match"],
      ["Not Uploaded", "not_uploaded"]
    ], include_blank: true %>
    <%= f.input :larger_only_filesize_treshold, label: "Larger Only Treshold (kB)" %>
    <%= f.submit "Search" %>
  <% end %>
</div>

<% @submission_files.each do |file| %>
  <%= render "submission_files/sample", submission_file: file if file.original.analyzed? && file.sample&.attached? %>
<% end %>
<%= paginate @submission_files %>

<% page_title "#{@artist.name}" %>
