<h1>Archive Import</h1>

<% if @archive.error %>
  <h2>Something went wrong</h2>
  <%= "#{@archive.error.class}: #{@archive.error}" %>
<% else %>
  <h2>Successfully queued <%= @archive.total_imported_files_count %> files for import!</h2>
  <% if @archive.already_imported_count != 0 %>
    <span><%= @archive.already_imported_count %> where skipped, because they are already imported.</span>
  <% end %>

  <%= render "artist_urls/list", artist_urls: ArtistUrl.where(id: @archive.imported_files.keys) %>

  <% if @archive.failed_imports.any? %>
    <h3>The following files failed to import:</h3>
    <ul>
    <% @archive.failed_imports.each do |file_name| %>
      <li><%= file_name %></li>
    <% end %>
    </ul>
  <% end %>
<% end %>
