<%= render "secondary_links" %>

<%= hideable_search(log_events_path) do |f| %>
  <%= f.input :loggable_type %>
  <%= f.input :loggable_id %>
  <%= f.input :action, collection: LogEvent.actions, include_blank: true %>
  <%= f.submit "Search" %>
<% end %>

<table class="table full-width">
  <thead>
    <tr>
      <th>Timestamp</th>
      <th>Type</th>
      <th>ID</th>
      <th>Action</th>
      <th>Details</th>
      <th>Preview</th>
    </tr>
  </thead>
  <tbody>
    <% @log_events.each do |log_event| %>
      <tr>
        <td><%= time_ago log_event.created_at %></td>
        <td><%= log_event.loggable_type %></td>
        <td><%= log_event.loggable_id %></td>
        <td><%= log_event.action %></td>
        <td><%= link_to "Details", log_event_path(log_event) %></td>
        <td class="break-all"><%= log_event.preview %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginated @log_events %>

<% page_title "Logs" %>
