<h1>Settings for <%= @definition.display_name %></h1>

<%= link_to @definition.homepage, @definition.homepage %><br>
<%= simple_form_for(:config, url: modify_config_index_path, method: :put) do |f| %>
  <% @definition.all_config_keys.each do |key| %>
    <%= f.input key, label: key.to_s.delete_prefix("#{@definition.site_type}_"), input_html: { value: Config.send(key) } %>
  <% end %>
  <%= f.input "#{@definition.site_type}_disabled", as: :select, label: "disabled", selected: Config.send(:"#{@definition.site_type}_disabled?").to_s %>
  <%= f.submit %>
<% end %>
