<div class="artist-submission">
  <div class="submission-link">
    <%= link_to_external submission_url(submission), submission_url(submission) %>  
  </div>
  <div class="submission-time">
    <%= time_ago submission.created_at_on_site %>
  </div>
  <% if submission.title_on_site.present? %>
    <div class="submission-title">
      Title: <%= submission.title_on_site %>
    </div>
  <% end %>
  <% if submission.description_on_site.present? %>
    <div class="submission-description">
      Description: <%= submission.description_on_site %>
    </div>
  <% end %>
  <div class="submission-container">
    <% submission.submission_files.each do |file| %>
      <%= render "submission_files/sample", submission_file: file %>
    <% end %>
  </div>
</div>
