
<section>
  <h1>Sign in</h1>
  <%= form_tag(session_path) do %>
    <div class="input">
      <label for="name">Username</label>
      <%= text_field_tag :username %>
    </div>

    <div class="input">
      <label for="password">Password</label>
      <%= password_field_tag :password %>
    </div>

    <div class="input">
      <label for="remember_me">Remember</label>
      <%= check_box_tag :remember_me, "1", true %>
    </div>

    <div class="input">
      <%= submit_tag "Login", data: { disable_with: "Signing in..." } %>
    </div>
  <% end %>
</section>

<section>
  <h1>Sign out</h1>
  <%= form_tag(session_path, method: :delete) do %>
    <div class="input">
      <%= submit_tag "Logout", data: { disable_with: "Signing out..." } %>
    </div>
  <% end %>
</section>

Notice: <%= flash[:notice] %>

<br>

Username: <%= CurrentUser.name %>
