<% submission_file.e6_iqdb_entries.sort_by(&:similarity_score).reverse.each do |e6_iqdb| %>
  <div>
  <%= link_to_external "##{e6_iqdb.post_id}", "https://e621.net/posts/#{e6_iqdb.post_id}", title: "Score: #{e6_iqdb.score}" %>
  <% if e6_iqdb.deleted? %>
    <span title="Deleted">!</span>
  <% else %>
    <%= link_to_external "E6D", e6_iqdb.direct_url, title: "E6 Direct Link" %>
  <% end %>
  <% if e6_iqdb.is_exact_match? %>
    Exact
  <% else %>
    <span class="size-difference">
      <%= number_to_human_size(e6_iqdb.post_size - submission_file.size, precision: 2) %>
    </span>
    <span class="dimension-difference" title="<%= "#{e6_iqdb.post_width}x#{e6_iqdb.post_height}" %>">
      x<%= (e6_iqdb.post_width / submission_file.width.to_f).round(1) %>
    </span>
  <% end %>
  </div>
<% end %>
