<% submission_file.e6_posts.sort_by(&:similarity_score).reverse.each do |entry| %>
  <div>
  <%= link_to_external "##{entry.post_id}", "https://e621.net/posts/#{entry.post_id}", title: "Score: #{entry.score}" %>
  <% if entry.post_is_deleted? %>
    <span title="Deleted">!</span>
  <% else %>
    <%= link_to_external "E6D", entry.direct_url, title: "E6 Direct Link" %>
  <% end %>
  <% if entry.is_exact_match? %>
    Exact
  <% else %>
    <span class="size-difference">
      <%= number_to_human_size(entry.post_size - submission_file.size, precision: 2) %>
    </span>
    <span class="dimension-difference" title="<%= "#{entry.post_width}x#{entry.post_height}" %>">
      x<%= (entry.post_width / submission_file.width.to_f).round(1) %>
    </span>
  <% end %>
  </div>
<% end %>
