<% artist_submission = submission_file.artist_submission %>
<% artist_url = artist_submission.artist_url %>
<div class="submission-stats">
  <% if similarity %>
    <span>
      Similarity: <%= similarity.round(2) %>
    </span>
  <% end %>
  <span>
    <%= "#{submission_file.width}x#{submission_file.height}" %>, 
    <%= number_to_human_size submission_file.size %>
  </span>
  <span><%= time_ago artist_submission.created_at_on_site %></span>
  <span class="submission-links">
      <%= site_icon artist_url, link_target: gallery_url(artist_url), title: artist_url.identifier_on_site %>
    | <%= link_to_external "S", submission_url(artist_submission), title: "Original Source" %>
    | <%= link_to_external "E", submission_file.direct_url, title: "Direct Link Offsite" %>
    <% if CurrentUser.is_member? %>
      | <%= link_to "D", rails_blob_url(submission_file.original, disposition: :inline), title: "Direct Link Onsite" %>
    <% end %>
  </span>
  <span class="e6-links">
    <% submission_file.e6_iqdb_entries.sort_by(&:similarity_score).reverse.each do |e6_iqdb| %>
      <div>
      <%= link_to_external "##{e6_iqdb.post_id}", "https://e621.net/posts/#{e6_iqdb.post_id}"%>
      <% if e6_iqdb.is_exact_match? %>
        Exact
      <% else %>
        <span class="size-difference">
          <%= number_to_human_size(e6_iqdb.post_size - submission_file.size) %>
        </span>
        <span class="dimension-difference" title="<%= "#{e6_iqdb.post_width}x#{e6_iqdb.post_height}" %>">
          x<%= (e6_iqdb.post_width / submission_file.width).round(1) %>
        </span>
      <% end %>
      </div>
    <% end %>
  </span>
</div>
