<% metadata = submission_file.original.metadata %>
<% artist_submission = submission_file.artist_submission %>
<% artist_url = artist_submission.artist_url %>
<div class="submission-stats">
  <% if similarity %>
    <span>
      Similarity: <%= similarity.round(2) %>
    </span>
  <% end %>
  <span>
    <%= "#{metadata[:width].to_i}x#{metadata[:height].to_i}" %>, 
    <%= number_to_human_size submission_file.original.byte_size %>
  </span>
  <span><%= time_ago artist_submission.created_at_on_site %></span>
  <span class="submission-links">
      <%= site_icon artist_url, link_target: gallery_url(artist_url), title: artist_url.identifier_on_site %>
    | <%= link_to_external "S", submission_url(artist_submission), title: "Original Source" %>
    | <%= link_to_external "E", submission_file.direct_url, title: "Direct Link Offsite" %>
  </span>
</div>
