<% artist_submission = submission_file.artist_submission %>
<% artist_url = submission_file.artist_url %>
<div class="submission-stats">
  <% if similarity %>
    <span>
      Similarity: <%= similarity.round(2) %>
    </span>
  <% end %>
  <span>
    <%= "#{submission_file.width}x#{submission_file.height}" %>, 
    <%= number_to_human_size submission_file.size %>
  </span>
  <span class="submission-time-ago">
    <%= site_icon artist_url, link_target: gallery_url(artist_url), title: artist_url.url_identifier %>
    <%= time_ago artist_submission.created_at_on_site %>
    <% if current_user.member? %>
      <% if E6ApiClient.iqdb_enabled? %>
        <%= link_to "UREV", update_e6_iqdb_submission_file_path(submission_file), method: :post %>
      <% end %>
      <% if submission_file.backlogs.first.present? %>
        <%= link_to "-", backlog_path(submission_file.backlogs.first), method: :delete %>
      <% else %>
        <%= link_to "+", backlogs_path(submission_file_id: submission_file.id), method: :post %>
      <% end %>
    <% end %>
  </span>
  <span class="submission-links">
    <%= link_to_external "SRC", submission_url(artist_submission), title: "Original Source" %>
    | <%= link_to_external "DLE", submission_file.direct_url, title: "Direct Link External" %>
    | <%= link_to "DLO", rails_blob_url(submission_file.original, disposition: :inline), title: "Direct Link Onsite" %>
    | <%= link_to "REV", submission_file_path(submission_file) , title: "Similar Indexed" %>
  </span>
  <span class="e6-links">
    <%= render "submission_files/e6_iqdb_stats", submission_file: submission_file %>
  </span>
</div>
