<%= render "secondary_links" %>

<h1>
  Submission from <%= @submission_file.artist_url.url_identifier %>
  <% if display_artist_name?(@submission_file) %>
    [<%= @submission_file.artist.name %>]
  <% end %>
</h1>
<div class="original">
  <div>
    <% if @artist_submission.title_on_site.present? %>
      <div class="title">
        <h4><%= @artist_submission.title_on_site %></h4>
      </div>
    <% end %>
    <div class="description">
      <%= @artist_submission.description_on_site %>
    </div>
  </div>
  <br>
  <div>
    <%= render "submission_files/sample", submission_file: @submission_file %>
  </div>
</div>
<h3>Similar</h3>
<div>
  <% if @similar.any? %>
    <% @similar.each do |entry| %>
      <%= render "submission_files/sample", submission_file: entry[:submission], similarity: entry[:score] %>
    <% end %>
  <% else  %>
    None
  <% end %>
</div>

<% page_title "#{@submission_file.artist.name} on #{@submission_file.artist_url.site.enum_value}" %>
