<h1>
  Submission from <%= @submission_file.artist_url.url_identifier %>
  <% if display_artist_name?(@submission_file) %>
    [<%= @submission_file.artist.name %>]
  <% end %>
</h1>
<div class="original">
  <%= render "submission_files/sample", submission_file: @submission_file %>
  <div>
    <% if @artist_submission.title_on_site.present? %>
      <h4 class="title"><%= @artist_submission.title_on_site %></h4>
    <% end %>
    <%= tag.div @artist_submission.description_on_site, class: "description" %>
  </div>
</div>
<h3>Similar</h3>
<div>
  <% if @similar.any? %>
    <% @similar.each do |entry| %>
      <%= render "submission_files/sample", submission_file: entry[:submission_file], similarity: entry[:score] %>
    <% end %>
  <% else  %>
    None
  <% end %>
</div>

<% page_title "#{@submission_file.artist.name} on #{@submission_file.artist_url.site.enum_value}" %>
