<header id="top">
  <nav id="nav">
    <menu class="primary-navbar">
      <%= nav_link_to Config.app_name, root_path %>
      <%= nav_link_to "Backlog", backlog_submission_files_path %>
      <%= nav_link_to "Search", iqdb_path %>
      <%= nav_link_to "Artists", artists_path %>
      <%= nav_link_to "Submission Files", submission_files_path %>
      <%= nav_link_to "Tumblr Importer", new_tumblr_import_path %>
      <%= nav_link_to "Stats", stats_path %>
      <%= nav_link_to "Debug", debug_path %>
    </menu>
    <menu class="secondary-navbar">
      <% if lookup_context.template_exists?("secondary_links", controller_name, true) %>
          <%= render "#{controller_name}/secondary_links" %>
      <% end %>
    </menu>
  </nav>
</header>
