<header id="top">
  <nav id="nav">
    <menu class="primary-navbar">
      <%= nav_link_to Config.app_name, root_path %>
      <%= nav_link_to "Search", iqdb_path %>
      <%= nav_link_to "Artists", artists_path %>
      <%= nav_link_to "Artist URLs", artist_urls_path %>
      <%= nav_link_to "Submission Files", submission_files_path %>
      <%= nav_link_to "Archive Importer", new_archive_import_path %>
      <%= nav_link_to "Stats", stats_path %>
      <%= nav_link_to "Selenium", "http://localhost:#{ENV.fetch('EXPOSED_VNC_PORT')}" %>
      <%= nav_link_to "GoodJob", "/good_job" %>
    </menu>
    <menu class="secondary-navbar">
      <% if lookup_context.template_exists?("secondary_links", controller_name, true) %>
          <%= render "#{controller_name}/secondary_links" %>
      <% end %>
    </menu>
  </nav>
</header>
