<h1>Scraped</h1>
<table class="table">
  <thead>
    <tr>
      <th>Scraper</th>
      <th>Artist Count</th>
      <th>URL Count</th>
      <th>Submission Count</th>
      <th>File Count</th>
      <th>Status</th>
      <th>Cache</th>
    </tr>
  </thead>
  <tbody>
    <% @counts.keys.sort.map { |key| Sites.from_enum(key) }.each do |definition| %>
      <tr>
        <td><%= definition.display_name %></td>
        <td><%= @counts[definition.enum_value]["artist_count"] %></td>
        <td><%= @counts[definition.enum_value]["url_count"] %></td>
        <td><%= @counts[definition.enum_value]["submission_count"] %></td>
        <td><%= @counts[definition.enum_value]["file_count"] %></td>
        <td>
          <% if definition.manually_disabled? %>
            Manually disabled
          <% elsif definition.missing_config_keys.any? %>
            Missing config <%= "key".pluralize(definition.missing_config_keys.count) %>: <%= definition.missing_config_keys.join(", ") %>
          <% else %>
            Enabled
          <% end %>
        </td>
        <td>
          <% cached = definition.cached_values %>
          <% if cached.any? %>
            <details>
              <summary><%= cached.size %> <%= "value".pluralize(cached.size) %></summary>
              <pre><%= cached.to_json %></pre>
            </details>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Storage</h1>
DB: <%= number_to_human_size(@db_size) %><br>
Original: <%= number_to_human_size(@original_size) %><br>
Samples: <%= number_to_human_size(@sample_size) %>

<h1>Job Stats</h1>

Pending Scraping: <%= job_stats.scraping_queued.values.sum %><br>
Pending Submission File Downloads: <%= job_stats.submission_download_queued.values.sum %><br>
Pending E6 IQDB Calls: <%= job_stats.e6_iqdb_queued.values.sum %><br>
<br>
<%= render "artist_urls/list", artist_urls: ArtistUrl.where(id: job_stats.active_urls) %>

<% page_title "Stats" %>
