<h1>Scraped</h1>
<table class="table">
  <thead>
    <tr>
      <th>Scraper</th>
      <th>Status</th>
      <th>Artist Count</th>
      <th>URL Count</th>
      <th>Submission Count</th>
      <th>File Count</th>
    </tr>
  </thead>
  <tbody>
    <% @counts.keys.sort.each do |key| %>
      <tr>
        <td><%= Sites.from_enum(key).display_name %></td>
        <td><%= Sites.from_enum(key).scraper_enabled? ? "Enabled" : "Disabled" %></td>
        <td><%= @counts[key]["artist_count"] %></td>
        <td><%= @counts[key]["url_count"] %></td>
        <td><%= @counts[key]["submission_count"] %></td>
        <td><%= @counts[key]["file_count"] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Storage</h1>
DB: <%= number_to_human_size(@db_size) %><br>
Original: <%= number_to_human_size(@original_size) %><br>
Samples: <%= number_to_human_size(@sample_size) %>

<h1>Sidekiq Stats</h1>

Pending Scraping: <%= SidekiqStats.scraping_queued.values.sum %><br>
Pending Submission File Downloads: <%= SidekiqStats.submission_download_queued.values.sum %><br>
<% if E6ApiClient.iqdb_enabled? %>
  Pending E6 IQDB Calls: <%= SidekiqStats.e6_iqdb_queued.values.sum %><br>
<% end %>
<br>
<% @artist_urls.each do |artist_url| %>
  <%= render "artists/artist_link", artist_url: artist_url %>
<% end %>

<% page_title "Stats" %>
