<h1>Artists</h1>
Total: <%= Artist.count %><br>
URLs: <%= ArtistUrl.count %><br>
Submissions: <%= ArtistSubmission.count %><br>
Files:  <%= SubmissionFile.count %><br>

<h1>Storage</h1>
DB: <%= number_to_human_size(@db_size) %><br>
Original: <%= number_to_human_size(@original_size) %><br>
Samples: <%= number_to_human_size(@sample_size) %>

<h1>Sidekiq Stats</h1>

Pending Scraping: <%= SidekiqStats.scraping_queued.values.sum %><br>
Pending Submission File Downloads: <%= SidekiqStats.submission_download_queued.values.sum %><br>
<% if E6Iqdb.enabled? %>
  Pending E6 IQDB Calls: <%= SidekiqStats.e6_iqdb_queued.values.sum %><br>
<% end %>
<br>
<% @artist_urls.each do |url| %>
  <%= render "artists/artist_link", url: url %>
<% end %>
