<h1>Scraped</h1>
<table>
  <thead>
    <tr>
      <td>Scraper</td>
      <td>Status</td>
      <td>Artist Count</td>
      <td>URL Count</td>
      <td>Submission Count</td>
      <td>File Count</td>
    </tr>
  </thead>
  <tbody>
    <% @scrapers.sort_by(&:site_enum).each do |scraper| %>
      <tr>
        <td><%= scraper.class.name.demodulize %></abbr></td>
        <td><%= scraper.enabled? ? "Enabled" : "Disabled" %></td>
        <td><%= @counts[scraper.site_enum]["artist_count"] %></td>
        <td><%= @counts[scraper.site_enum]["url_count"] %></td>
        <td><%= @counts[scraper.site_enum]["submission_count"] %></td>
        <td><%= @counts[scraper.site_enum]["file_count"] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Storage</h1>
DB: <%= number_to_human_size(@db_size) %><br>
Original: <%= number_to_human_size(@original_size) %><br>
Samples: <%= number_to_human_size(@sample_size) %>

<h1>Sidekiq Stats</h1>

Pending Scraping: <%= SidekiqStats.scraping_queued.values.sum %><br>
Pending Submission File Downloads: <%= SidekiqStats.submission_download_queued.values.sum %><br>
<% if E6Iqdb.enabled? %>
  Pending E6 IQDB Calls: <%= SidekiqStats.e6_iqdb_queued.values.sum %><br>
<% end %>
<br>
<% @artist_urls.each do |url| %>
  <%= render "artists/artist_link", url: url %>
<% end %>

<% page_title "Stats" %>
