<!DOCTYPE html>
<html>
  <head>
    <title>Reverser</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag '/assets/builds/application', media: 'all' %>
    <%= javascript_include_tag '/assets/builds/application' %>
  </head>

  <body>
    <%= render "application/navbar" %>
    <div id="page">
      <%= yield %>
    </div>
    <div class="footer-padding"></div>
    <%= render "application/footer" %>
  </body>
</html>
