<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag '/build/application', media: 'all' %>
    <%= javascript_include_tag '/build/application' %>
  </head>

  <body>
    <%= render "application/navbar" %>
    <div id="page">
      <div id="content">
        <%= yield %>
      </div>
      <%= content_for(:paginator) if content_for? :paginator %>
    </div>
    <div class="footer-padding"></div>
    <%= render "application/footer" %>
  </body>
</html>
