<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" type="image/png" href="/logo.png">
    <%= stylesheet_link_tag EsbuildManifest["application.css"], media: "all" %>
    <%= javascript_include_tag EsbuildManifest["application.ts"] %>
  </head>

  <body>
    <header>
      <%= render "application/navbar" %>
    </header>
    <div id="page">
      <div id="content">
        <%= render "application/outdated" if GitHelper.build_outdated? && !DockerEnv.dev_mode?  %>
        <% if Config.missing_values.any? %>
          <div>You must set the following config values for correct functionality:</div>
          <%= safe_join(Config.missing_values, tag.br) %>
        <% end %>
        <%= yield %>
      </div>
      <%= pagy_nav(@pagy).html_safe if instance_variable_defined?(:@pagy) && @pagy.pages > 1 %>
    </div>
    <footer>
      <%= render "application/footer" %>
    </footer>
  </body>
</html>
