<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= "#{yield :page_title} - FoxTrove" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" type="image/png" href="/logo.png">
    <%= stylesheet_link_tag EsbuildManifest["application.css"], media: "all" %>
    <%= javascript_include_tag EsbuildManifest["application.ts"] %>
  </head>

  <body>
    <header>
      <%= render "application/navbar" %>
    </header>
    <div id="page">
      <div id="content">
        <%= render "application/outdated" if GitHelper.build_outdated? %>
        <%= render "application/deprecations" %>
        <% if Config.missing_values.any? %>
          <div>You must set the following config values for correct functionality:</div>
          <%= safe_join(Config.missing_values, tag.br) %>
        <% end %>
        <div id="selenium-notice" class="<%= "hidden" unless SeleniumWrapper.active? %>">
          Selenium has been launched, you may need to solve a captcha.
          <%= link_to "Click here", selenium_path, target: "_blank", rel: "noopener" %> to view.
        </div>
        <%= yield %>
      </div>
      <%= pagy_nav(@pagy).html_safe if instance_variable_defined?(:@pagy) && @pagy.pages > 1 %>
    </div>
    <footer>
      <%= render "application/footer" %>
    </footer>
  </body>
</html>
